#Usar este como ejemplo para el proyecto
OLLAMA_URL=https://shall-recreation-grace-accidents.trycloudflare.com
OLLAMA_TIMEOUT=90

OLLAMA_MODEL_LLAMA3=qwen2.5:3b-instruct
OLLAMA_MODEL_MISTRAL=qwen2.5:3b-instruct